<div class="card-parent">
  <mat-card>
    <mat-toolbar color="accent" class="elevation-z6 white-text">
      <div class="uk-grid uk-margin-top uk-height-1-1 uk-width-1-1">
        <h3 class="uk-width-3-5">Relatório de Dados</h3>
      </div>
    </mat-toolbar>
    <mat-card-content  class="left-list">
      <div class="uk-width-1-1">
        <mat-dialog-content [formGroup]="form">
          <div>
            <mat-form-field class="margin-15px">
              <input matInput
                     placeholder="Estado"
                     formControlName="estado">
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     placeholder="Municipio"
                     formControlName="municipio">
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     placeholder="Microrregiao"
                     formControlName="microrregiao">
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     placeholder="Mesorregiao"
                     formControlName="mesorregiao">
            </mat-form-field>
          </div>
        </mat-dialog-content>
      </div>

    </mat-card-content>
    <button mat-fab class="btn-fab" (click)="gerarRelatorio()">
      <mat-icon aria-label="Example icon-button with a heart icon">forward</mat-icon>
    </button>
  </mat-card>
</div>
