/* You can add global styles to this file, and also import other style files */
@import "theming";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.active.link {
  color: $accent;
}

.background-accent {
  background-color: $accent;
  color: white;
}

mat-card {
  height: 87vh;
  padding: 0 !important;
}

mat-card-header {
  height: 10vh;
  background-color: $accent;
}

mat-card-title {
  margin: 20px;
  color: white;
}

.mat-card-title {
  margin-bottom: 0 !important;
}

mat-card-content {
  height: 70vh;
}

