<div class="card-parent">
  <mat-card>
    <mat-toolbar color="accent" class="elevation-z6 white-text">
      <div class="uk-grid uk-margin-top uk-height-1-1 uk-width-1-1">
        <h3 class="uk-width-3-5">Sensor</h3>
      </div>
    </mat-toolbar>
    <mat-card-content  class="left-list">
      <mat-spinner class="uk-align-center uk-margin-top" color="primary" *ngIf="!listLoaded"></mat-spinner>
      <table *ngIf="listLoaded" mat-table [dataSource]="sensorList" class="mat-elevation-z8">

        <!-- Instalacao Column -->
        <ng-container matColumnDef="serie">
          <th mat-header-cell *matHeaderCellDef> Numero de Serie </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroSerie}} </td>
        </ng-container>

        <!-- Fabricante Column -->
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef> Marca </th>
          <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
        </ng-container>

        <!-- Identificador Column -->
        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef> Modelo </th>
          <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <!-- Acvion Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Acoes </th>
          <td mat-cell *matCellDef="let element"> <div>
            <button mat-icon-button (click)="onEditClick(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteClick(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </div> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-card-content>
    <button mat-fab class="btn-fab" (click)="openAddDialog()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </mat-card>
</div>
