<div class="uk-grid">
  <h2 mat-dialog-title>Save Character</h2>
  <div class="uk-width-1-1">
    <mat-dialog-content [formGroup]="form">
      <div>
        <mat-form-field class="margin-15px">
          <input matInput
                 placeholder="Identificador"
                 formControlName="identificador">
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Tipo"
                 formControlName="tipo">
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Fabricante"
                 formControlName="fabricante">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="Longitude"
                 formControlName="longitude">
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Latitude"
                 formControlName="latitude">
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button class="mat-raised-button" (click)="close()">Close</button>
      <button type="submit" class="mat-raised-button mat-primary" (click)="save()">Save</button>
    </mat-dialog-actions>
  </div>
</div>
