<div class="uk-grid">
  <h2 mat-dialog-title>Are you sure you want to delete?</h2>
  <div class="uk-width-1-1">
    <mat-dialog-actions>
      <button class="mat-raised-button" (click)="close()">No</button>
      <button type="submit" class="mat-raised-button mat-primary" (click)="confirm()">Yes</button>
    </mat-dialog-actions>
  </div>
</div>
