<div class="card-parent">
  <mat-card>
    <mat-toolbar color="accent" class="elevation-z6 white-text">
      <div class="uk-grid uk-margin-top uk-height-1-1 uk-width-1-1">
        <h3 class="uk-width-3-5">Dados Meteorologicos</h3>
      </div>
    </mat-toolbar>
    <mat-card-content  class="left-list">
      <mat-spinner class="uk-align-center uk-margin-top" color="primary" *ngIf="!listLoaded"></mat-spinner>
      <table *ngIf="listLoaded" mat-table [dataSource]="dadoList" class="mat-elevation-z8">

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <!-- Mesorregiao Column -->
        <ng-container matColumnDef="mesorregiao">
          <th mat-header-cell *matHeaderCellDef> Mesorregiao </th>
          <td mat-cell *matCellDef="let element"> {{element.mesorregiao}} </td>
        </ng-container>

        <!-- Microrregiao Column -->
        <ng-container matColumnDef="microrregiao">
          <th mat-header-cell *matHeaderCellDef> Microrregiao </th>
          <td mat-cell *matCellDef="let element"> {{element.microrregiao}} </td>
        </ng-container>

        <!-- Municipio Column -->
        <ng-container matColumnDef="municipio">
          <th mat-header-cell *matHeaderCellDef> Municipio </th>
          <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Acoes </th>
          <td mat-cell *matCellDef="let element"> <div>
            <button mat-icon-button (click)="onEditClick(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteClick(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
          </div> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-card-content>
    <button mat-fab class="btn-fab" (click)="openAddDialog()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </mat-card>
</div>
