.main-sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-sidenav-is-mobile .main-sidenav-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.main-sidenav-app-name {
  margin-left: 8px;
}

.main-sidenav-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

mat-sidenav.mat-drawer.mat-sidenav {
  min-width: 250px;
}

mat-sidenav-is-mobile {
  background: rgba(255, 255, 255, 0);
  min-width: 250px;
}

mat-expansion-panel-header {
  max-height: 40px;
}

mat-expansion-panel {
  background: #fafafa;
}

.material-icons {
  vertical-align: middle;
  margin-right: 5px;
}

mat-sidenav-container {
  height: 100vh;
}

.fixed-bottom-right {
  position: fixed;
  right: 48px;
  bottom: 48px;
  margin-bottom: 0;
}

.fab-button {
  width: 56px;
  height: 56px;
}
.fab-button .material-icons {
  color: white;
}

.material-icons {
  padding-left: 16px;
  padding-right: 16px;
  width: 24px;
  height: 24px;
}

.elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 6;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.right-panel-icon {
  margin: 14px 0 0 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.text-capitalize {
  text-transform: capitalize;
}