.main-sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-sidenav-is-mobile .main-sidenav-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.main-sidenav-app-name {
  margin-left: 8px;
}

.main-sidenav-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.main-sidenav-is-mobile .main-sidenav-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav.mat-drawer.mat-sidenav {
  min-width: 250px;
}

mat-sidenav-is-mobile {
  background: rgba(255, 255, 255, 0);
  min-width: 250px;
}

li {
  margin: 5px 0 5px 0;
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

mat-expansion-panel-header {
  max-height: 40px;
}

mat-expansion-panel {
  background: rgba(0, 0, 0, .03);
}

.material-icons {
  vertical-align: middle;
  margin-right: 5px;
}

.active.link {
  color: blue;
}