<div class="main-sidenav-container" [class.main-sidenav-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="main-sidenav-toolbar elevation-z6">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon class="no-padding no-margin">menu</mat-icon>
        </button>
        <h1 class="main-sidenav-app-name"> {{title}}</h1>
    </mat-toolbar>

    <mat-sidenav-container class="main-sidenav-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                     [opened]="true">
            <mat-expansion-panel (opened)="leftPanelState = true"
                                 (closed)="leftPanelState = false"
                                 [expanded]="true"
                                 *ngFor="let nav of fillerNav">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{nav.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item *ngFor="let childNav of nav.children" [routerLink]="[childNav.path]"
                                   routerLinkActive="active link" (click)="setNavSelected(childNav.path)">
                        <a>
                            <mat-icon class="material-icons md-18">{{childNav.icon}}</mat-icon>
                            <span>{{childNav.name}}</span></a>
                    </mat-list-item>
                </mat-nav-list>

            </mat-expansion-panel>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
