.card-parent {
    padding: 20px 20px 20px 20px;
    height: 40vh;
}

.card-list {
    overflow: auto;
    max-height: 75vh;
}

.white-color {
    color: white !important;
}

.black-color {
    color: black !important;
}

.white-text p, .white-text span, .white-text h1, .white-text h2,
.white-text h3, .white-text h4, .white-text h5, .white-text h6, .white-text a {
    color: white !important;
}

.black-text p, .black-text span, .black-text h1, .black-text h2,
.black-text h3, .black-text h4, .black-text h5, .black-text h6, .black-text a {
    color: black !important;
}

.btn-fab {
  position: absolute;
  bottom: 25px;
  right: 25px;
}


table {
  width: 100%;
  box-shadow: none;
}

mat-form-field {
  margin: 15px !important;
}
